#header{
    background : linear-gradient(to right, rgb(0,0,0), rgb(23,186,170));
    height: 600px;
}
#navbar{
    padding:30px;
    display:flex;
    
    /* height:900px; */
}
#navbar .logo img{
    height: auto;
    width:6%;
}
#navbar .nav-links a{
    color:white;
    padding-right:10px;
    text-decoration:none;
    font-size: 23px;
}